{% extends 'layout.twig' %}

{% block body %}
    <h1>{{ title }}</h1>
    <form method="POST">
        <div>
            <label for="title">Título:</label><br />
            <input id="title" name="title" type="text" value="{{ post.title }}" />
        </div>

        <div>
            <label for="body">Cuerpo:</label><br />
            <textarea id="body" name="body">{{ post.body }}</textarea>
        </div>

        <input type="submit" value="Actualizar" />
    </form>
{% endblock %}